APP_ADDR=:8080

DB_HOST=localhost
DB_PORT=5433
DB_USER=budget_tracker
DB_PASSWORD=budget_tracker
DB_NAME=budget_tracker
DB_SSLMODE=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=${DB_HOST} port=${DB_PORT} user=${DB_USER} password=${DB_PASSWORD} dbname=${DB_NAME} sslmode=${DB_SSLMODE}"
GOOSE_MIGRATION_DIR=migrations
